<?xml version="1.0"?>
<model>
  <name>Block Red</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Breno Celestino</name>
    <email>brenocauecelestino@icloud.com</email>
  </author>
  <description>
    A red block for pick and place tasks.
  </description>
</model>